/* Global Stylings */

.t-0 {
  top: 0 !important;
}

.b-0 {
  bottom: 0 !important;
}

.r-0 {
  right: 0 !important;
}

.l-0 {
  left: 0 !important;
}

.x-0 {
  left: 0 !important;
  right: 0 !important;
}

.y-0 {
  top: 0 !important;
  bottom: 0 !important;
}